---
Language: Cpp
BasedOnStyle: Google

# Căn lề và khoảng cách
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Khối lệnh
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Con trỏ và tham chiếu
PointerAlignment: Right

# Include
SortIncludes: true

# Switch case
IndentCaseLabels: true
